# Packages required to run the pytest suite for HyBIG:
# First install packages used by all tests:
-r ../common_requirements.txt
# Then add requirements specific to this test suite:
# None currently needed for HyBIG
